/*
font-family: Arial, Helvetica, sans-serif;
font-family: Georgia, "Times New Roman", Times, serif;
font-family: "Times New Roman", Times, serif, Georgia;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-family: "Courier New", Courier, monospace;
*/

div.ytilsRexMd .r {

    text-align: right;
}

div.ytilsRexMd img.ytilsRexMdExpandButton {

    cursor: pointer;
    margin-bottom: 5px;
}

div.ytilsRexMd div.ytilsRexMdEditor label {

    display: block;
}

div.ytilsRexMd div.ytilsRexMdEditor textarea.ytilsRexMdTextArea {

    height: 300px;
    width: 100%;
}

div.ytilsRexMdFullScreenPreview img {

    max-width: 100%;
}